.header {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
  .logo-ani {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 680px;
    width: 46vw;
    margin: auto;
  }
  .header-container {
    transition: background-color .3s ease-in-out;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 2rem;
     ///min-height: 115px;
      transition: padding .3s ease-in-out;
    }
  }
  .logo {
    height: 51px;
    transition: height .3s ease-in-out, transform .5s ease-in-out;
    &:hover {
      transform: rotate(-360deg);
    }
  }
  &.sticky-header {
    .header-container {
      .container {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        min-height: auto;
      }
    }
    .logo {
      height: 40px;
    }
  }
}
.home {
  .header {
    position: relative;
    z-index: auto;
    min-height: 904px;
    background: transparent url('../img/header_bg.jpg') no-repeat center;
    background-size: cover;
    .header-container {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
      width: 100%;
    }
    &.sticky-header {
      .header-container {
        background-color: #000;
      }
    }
  }
}
.mobile-btn {
  background-color: transparent;
  border: 0;
  display: none;
  position: relative;
  outline: 0 !important;
  width: 35px;
  height: 21px;
  padding: 0;
  margin-left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.mobile-btn span {
  background-color: #fff;
  width: 100%;
  height: 2px;
  display: block;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }
.mobile-btn span:nth-child(1) {
  top: 0; }
.mobile-btn span:nth-child(2) {
  width: 80%;
  right: 0;
  top: 10px; }
.mobile-btn span:nth-child(3) {
  top: 20px; }
.mobile-btn.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }
.mobile-btn.open span:nth-child(2) {
  opacity: 0;}
.mobile-btn.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }
.menu {
  padding: 0;
  > li {
    display: inline-block;
    position: relative;
    > a {
      display: block;
      border: 1px solid transparent;
      font-weight: 300;
      font-size: rem(18px);
      padding: 0.6rem 1rem;
      color: #fff;
      &:focus,
      &:active,
      &.active,
      &:hover {
        border: 1px solid #fff;
      }
    }
    & + li {
      margin-left: 0.2rem;
    }
    &:last-child {
      a {
        &:focus,
        &:active,
        &.active,
        &:hover {
          border-color: transparent;
        }
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #ffffff4a;
      }
    }
  }
  .dropdown-menu {
    margin: 0;
    &:after {
      content: '';
    }
    .dropdown-item {
      display: block;
      white-space: nowrap;
      color: #fff;
      font-size: rem(18px);
      padding: 5px;
      font-weight: 300;
      &.active,
      &:active,
      &:focus,
      &:hover {
        background-color: transparent;
        color: #fff;
        text-decoration: underline;
      }
    }
  }
  .menu-item-type-post_type_archive {
    &:hover {
      .dropdown-menu {
        display: block;
      }
    }
  }
}
.menu > li.current-menu-ancestor>a,
.menu > li.current-menu-item>a,
.menu > li.Ñurrent-page-item a {
  border: 1px solid #fff;
}
.menu li > a > li.current-menu-item > a {
  text-decoration: underline;
}
@media (max-width: 1440px) {
  .home {
    .header {
      min-height: 720px;
    }
  }
  .menu {
    li {
      a {
        padding: 0.5rem;
      }
    }
  }
}
@media (max-width: 1200px) {
  .menu .dropdown-menu {
    position: static !important;
    float: none !important;
    transform: translate3d(0,0,0) !important;
    padding: 0;
  }
  .menu .dropdown-menu .dropdown-item {
    text-align: center;
    font-size: 1rem;
  }
  .home {
    .header {
      min-height: 500px;
    }
  }
  .home.open-menu {
    .header-container {
      background-color: #000;
    }
  }
  .header {
    .header-container {
      .container {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    .menu-container {
      z-index: 9000;
      padding: 1rem 0 140px 0;
      position: fixed;
      background-color: rgba(0,0,0,.8);
      right: 0;
      left: 0;
      bottom: 0;
      top: 83px;
      box-shadow: inset 0 0 29px rgba(0, 0, 0, 0.09);
      height: 100vh;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
      -webkit-transition: -webkit-transform .3s ease-out;
      transition: -webkit-transform .3s ease-out;
      transition: transform .3s ease-out;
      border-radius: 0;
      margin: 0;
    }
  }
  .menu-container.open-menu {
    li {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
      &:nth-child(1) {
        -webkit-transition-delay: 50ms;
        transition-delay: 50ms;
      }
      &:nth-child(2) {
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
      }
      &:nth-child(3) {
        -webkit-transition-delay: 150ms;
        transition-delay: 150ms;
      }
      &:nth-child(4) {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
      }
      &:nth-child(5) {
        -webkit-transition-delay: .3s;
        transition-delay: .3s;
      }
      &:nth-child(6) {
        -webkit-transition-delay: 450ms;
        transition-delay: 450ms;
      }
      &:nth-child(7) {
        -webkit-transition-delay: .5s;
        transition-delay: .5s;
      }
      &:nth-child(8) {
        -webkit-transition-delay: 550ms;
        transition-delay: 550ms;
      }
      &:nth-child(9) {
        -webkit-transition-delay: .6s;
        transition-delay: .6s;
      }
    }
  }
  .menu-container {
    li {
      display: inline-block;
      text-align: center;
      width: 100%;
      -webkit-transition-property: opacity, -webkit-transform;
      transition-property: opacity, -webkit-transform;
      transition-property: transform, opacity;
      transition-property: transform, opacity, -webkit-transform;
      -webkit-transform: translate(50%, 0);
      -ms-transform: translate(0, 50%);
      transform: translate(0, 50%);
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      opacity: 0;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
    }
  }
  .mobile-btn {
    display: block;
    z-index: 1030;
  }
  .menu-container.open-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  body.open-menu {
    position: fixed;
    overflow: hidden;
  }
  .menu {
    li {
      a {
        font-size: 1.5rem;
        &:focus,
        &:active,
        &.active,
        &:hover {
          border-color: transparent;
          color: $link-color;
        }
      }
      &+li {
        margin-left: 0;
      }
      &:last-child {
        &:before {
          display: none;
        }
      }
      &.current-menu-item,
      &.current-menu-ancestor {
        a {
          border-color: transparent;
          color: $link-color;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .home {
    .header {
      min-height: 390px;
      .header-container {
        background-color: #000;
      }
    }
  }
  .header {
    .logo {
      height: 40px;
    }
    .menu-container {
      top: 56px;
    }
    .header-container {
      .container {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  }
  .menu {
    li {
      a {
        font-size: 1rem;
      }
    }
  }
}